@import	url(Components/images.css);
@import url(Components/banner.css);
@import url(Components/button.css);
@import	url(Components/list.css);
@import	url(Components/navbar.css);
@import url(Components/cards.css);
@import url(Components/avatar.css);
@import url(Components/icones.css);
@import	url(Components/menu.css);

@import	url(Components/form.css);



body { 

	text-align: center;
	bottom: 0px;
	background: #f2f0f1;

	}

img{
	padding-bottom: 40px;
	height: 200px !important;
	width: 170px !important;
	border-style: white;
	

}


a {
	text-decoration: none;
}

p {
	font-size: 18px !important;
	letter-spacing: 4px !important;
	color: #b1755f !important; 
	position: center !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.background-white {
	background-color: white;
}

.follow{

	font-family: 'Nanum Gothic', sans-serif;
	font-size: 25px;
	letter-spacing: 3px;
	padding-bottom: 80px;
	padding-top: 40px;
	color: white;
}


.padded {
	padding: 30px;
}



.fab{

	height: : 30px;
	width: 50px;
}

.follow1{

	font-family: 'Nanum Gothic', sans-serif;
	font-size: 25px;
	letter-spacing: 3px;
	padding-bottom: 60px;
	padding-top: 60px; 

}
h1{
 
	font-size: 18px !important;
	letter-spacing: 4px !important;
	color: #b1755f !important; 
	position: center !important;
	font-family: 'Source Sans Pro', sans-serif;
}

 
.btn-banner {

	background-color: #b1755f;
	border: none;
	margin-top: 20px;
	color: white;

}

.btn-banner:hover {

	background-color: white;
	border: none;
	color: #c3d2d4;
}

h5 {

	font-size: 20px;
	letter-spacing: 5px;
	color: black;

}

.video {

	padding-bottom: 100px;
	padding-top: 100px;
	

}
h6 {

	color: black;
	font-size: 15px;
	letter-spacing: 0px;
	padding-bottom: 20px;
	font-family: 'Nanum Gothic', sans-serif;

}

.footer{

	background-color: #ecd3c7;
}

.follow3{

	margin-top: 50px;
}


	

