.banner{ 
background-image: linear-gradient(rgba(255,255,252,0.2), rgba(255,255,255,0.5)), url("https://images.unsplash.com/photo-1518665750801-883c188a660d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
height: 100vh;
background-size: cover; 
background-position: center; 
display: flex;
align-items: center;
text-align: center;
justify-content: space-around;
margin-bottom: 100px;
position: relative;

}

.banner-content{ 
	font-size: 40px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
   
    padding: 30px;
    border-radius: 3px;
    padding-top: 10px;
 }

 .banner-content p {
 	color: white;
 	font-size: 25px;

 }

 .banner-content button{

 	position: right;

 }